@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
  font-family: sans-serif;
}

#valor_dado {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  width: 160px;
  height: 160px;
  background: #D9D9D9;
  font-size: 120px;

}

.pantalla {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  width: 831px;
  height: 282px;
  background: #01949A;
} 

.jugador_1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  width: 160px;
  height: 160px;
  background: #004369;
  flex-basis: auto;
  align-self: auto;
  align-content: center;
  order: 0;
  margin-right: 100px;
  border-radius: 100px;
} 

.jugador_2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  width: 160px;
  height: 160px;
  background: #DB1F48;
  flex-basis: auto;
  align-self: auto;
  align-content: center;
  order: 0;
  margin-left: 100px;
  border-radius: 100px;
} 

#turno {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 162px;
  height: 54px;
  left: 638px;
  top: 192px;
  color: white;

}

footer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  width: 831px;
  height: 120px;
  font-size: 100px;
  background: #01949A;
}

header {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  width: 831px;
  height: 120px;
  background: #01949A;
}

#titulo {
  text-align: center;
  font-family: 'Rock Salt', cursive;
}







